<phpunit bootstrap="src/autoload.php">
  <testsuites>
    <testsuite name="BasicFunctionality">
      <file>tests/BasicFunctionality/Constructors.php</file>
      <file>tests/BasicFunctionality/Addition.php</file>
      <file>tests/BasicFunctionality/Removal.php</file>
      <file>tests/BasicFunctionality/Comparison.php</file>
      <file>tests/BasicFunctionality/ConflictFunc.php</file>
      <file>tests/BasicFunctionality/Acceptability.php</file>
    </testsuite>
  </testsuites>
</phpunit>
